.black{
    background-color: black;
}
.white_b{
    margin: auto;
    width: 50%;
    border: 3px solid white;
    padding: 10px;
}

.white_f{
    color: white;
}
.blue_f{
    color: #52aafc;
   
}
.font{
    font-family: sans-serif;
}

.textcenter{
    text-align: center;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  

  button {
    background-color: #52aafc;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
  }
  
  button:hover {
    opacity: 0.8;
  }


  .left{
    float: right;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }

  .center{
    margin-top: 35px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .center2{
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 43%;
  }

  .blue_b2{
    margin: auto;
    border: 5px solid #52aafc;
    border-width: 20%;
  }

  .inp {
    opacity: 0;
    z-index: -1;
    position: absolute;
  }

  .profilelook{
    border-radius: 50%;
  }

  .bk_lightblue{
    background-color: rgb(127, 147, 238);
  }

  .thick{
    font-weight: bolder;
  }

  .div1{
    width: 40%; 
    float:left; 
    height:60%; 
    padding-left: 5%;
  }
  .div2{
    width: 40%; 
    float:left; 
    height:50%; 
    padding-right: 3%;
  }

  body{
    background-image:url("worldTourPics/clouds.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .button {
    margin-left: 10%;
    margin-top: 35%;
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 30%;
    border-radius: 8px;
  }
  .button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .fix{
    position: fixed;
  }

  .postbox{
    margin-top: 35%;
    background-color: rgb(9, 132, 136);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 30%;
    border-radius: 8px;
  }

  .mrg{
    margin-left: 15%;
    margin-right: 15%;
  } 

/*----------------------------------------------------------------------------------------------*/
